<bdl-ui-header color="primary" retracted> Text </bdl-ui-header>

<bdl-ui-navigation retracted></bdl-ui-navigation>

<bdl-ui-notification></bdl-ui-notification>

<router-outlet></router-outlet>

<!-- <bdl-ui-image source="https://plocploc/150" fallback></bdl-ui-image>


<bdl-ui-image source="https://plocploc/150"
              uiImgFallback fallback="https://opensource.google/static/images/projects/os-projects-angular.svg"></app-ui-image>

<bdl-ui-image emphasis></bdl-ui-image>
<bdl-ui-image source="https://picsum.photos/150"></bdl-ui-image>
<bdl-ui-image source="https://picsum.photos/150" [size]="{h:200,w:500}" emphasis>
</bdl-ui-image>
 -->

